@media (min-width: 768px) {
    #hamburger-btn {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 1.5rem;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .list-view .member-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
