@media (min-width: 768px) {
    #hamburger-btn {
        display: none;
    }

    nav {
        display: block;
        width: auto;
        margin-top: 0;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
    }

    nav a {
        border-bottom: none;
        border-radius: 4px;
    }

    /* Grilla principal en Desktop */
    .home-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    /* Ocupar el ancho completo de la grilla */
    main h1, .hero, .spotlights {
        grid-column: 1 / -1;
    }

    .cta-overlay h2 {
        font-size: 2rem;
    }

    /* Distribución de tarjetas de Miembros Destacados */
    .spotlight-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}