@media (min-width: 600px) {
    #hamburger-btn {
        display: none;
    }

    .navigation {
        display: block !important;
        background-color: #002244;
    }

    .navigation ul {
        display: flex; /* Flexbox para menú horizontal */
        justify-content: space-around;
        align-items: center;
    }

    .navigation li a {
        border-bottom: none;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .certificate-section {
        grid-column: span 2;
    }

    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}